@font-face {
  font-family: Tahoma;
  src: url("../assets/Tahoma\ Regular\ font.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Tahomabd;
  src: url("../assets/TAHOMABD.ttf");
  font-weight: bold;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");
